@charset"UTF-8";

@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family:  var(--fontBIZ), Arial, Helvetica, sans-serif;
    text-decoration: none;
}

main {
    margin-top: 70px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(190, 190, 190);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: hsl(150, 60%, 63%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(150, 50%, 43%);
}

:root {
    --fontA: "Source Code Pro";
    --corFooter: #023047;
    --cor1: #9404b1;
    --cor2: #EC7357;
    --cor3: hsl(150, 60%, 63%);
    --degrade: linear-gradient(to bottom, var(--cor1), var(--cor2));
    --degradeR: linear-gradient(to bottom, var(--cor2), var(--cor1));
    --fontBIZ: BIZ UDPMincho;
    --fontUbun: "Ubuntu";
}

.texto {
    margin: auto;
    max-width: 900px;
    padding: 20px;

    text-indent: 30px;
    text-align: justify;
    line-height: 1.5em;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: var(--corFooter);
    padding: 20px;
    color: white;
    bottom: 0;
}

footer > a {
    color: white;
}



#redes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#redes1, #redes2 {
    transition: 0.7s;
    width: 24px;
}

#redes1:hover {
    transform: scale(1.2);
}

#redes2:hover {
    transform: scale(1.2);
}

@media (max-width: 710px) {
    footer {
        flex-direction: column;
        gap: 20px;
    }
    #redes {
        flex-direction: row;
    }
    #ete {
        margin: auto;
    }
}

/* Menu */

nav a:hover {
    box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.411);
    transition: 0.5s;
}

nav a {
    border-radius: 20px 0px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-family: var(--fontA);
}

nav ul li {
    display: inline;
    position: relative;
    transition: 3s;
}

nav ul li ul{
    transition: 2s;
}

nav ul li a{
    display: inline-block;
}

nav ul ul{
    display: none;
    box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.411);
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    position: absolute;
    padding: 10px;
    border-radius: 0px 20px;
    z-index: 17;
}



#gambiarra {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border-radius: 20px 0px;
}

nav ul li:hover ul{
    display: block;
    
}

                                        /* Ids and Classes */

#cole {
    color: white;
    margin: 25px 0px 8px 15px;
    font-size: 23px;
    display: none;
}

#logo {
    display: flex;
    gap: 20px;
    align-items: center;
}

#logo p {
    font-family: var(--fontA), Arial;
    flex-wrap: nowrap;
    font-size: 30px;
    color: white;
}

#logoImg {
    width: 50px;
    height: 50px;
}

#header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;

    
    align-items: center;
    
    justify-content: space-between;
    padding: 10px;
    background-color: var(--cor1);
    z-index: 1000;
}

#menu {
    display: flex;
    align-items: center;
    gap: 5px;
    list-style: none;
}

#menu a {
    /*ISSO AQUI DA MERDA TIRA O DISPLAY BLOCK DAQUI E BOTA DENTRO DA MEDIA OUTRA COISA, ESSA MEDIDA REM TBM DA MERDA CUIDADO*/
    padding: 10px;
}

#btn-mobile {
    display: none;
}

                                        /*Media Querys*/
@media screen and (max-width: 910px) { 
    #menu a {
        font-size: 17px;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 60px;
        right: 0px;
        background-image: var(--degrade);
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #menu::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-image: var(--degradeR);
    }
    #menu::-webkit-scrollbar-track {
        background-image: var(--degrade);
        box-shadow: none;
    }
    #menu::-webkit-scrollbar-thumb:hover {
        background-image: linear-gradient(to bottom, #f08870, #9710b3);
    }
    nav.active #menu{

        height: calc(100vh - 60px);
        visibility: visible;
        overflow-y: auto;
    }
    nav.active #menu li a {
        display: flex;
        flex-direction: row;
    }
    #menu a {
        display: block; /*ISSO AQUI DA MERDA*/
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
        padding-left: 15px;
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer {
        color: white;
        border-top: 2px solid;
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburguer {
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

@media (max-width:495px) { 
    #menu {
        top: 78px;
    }
}

#logoImgResponsa {
    display: none;
}
