@charset"UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(190, 190, 190);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--cor3);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6baa9d;
}

:root {
    --corFooter: #023047;
    --cor1: #9404b1;
    --cor2: #EC7357;
    --cor3: #5ba899;
    --degrade: linear-gradient(to bottom, var(--cor1), var(--cor2));
    --degradeR: linear-gradient(to bottom, var(--cor2), var(--cor1));
    --fontJose: Josefin Slab;
    --fontUbun: Ubuntu;
}

footer {
    background-color: var(--corFooter);
    padding: 20px;
    color: white;
    text-align: center;
    bottom: 0;
}

footer > a {
    color: white;
}

footer p {
    padding: 20px;
}

/* Menu */

nav a:hover {
    box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.411);
    transition: 0.5s;
}

nav a {
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

                                        /* Ids and Classes */

#cole {
    color: white;
    margin: 25px 0px 8px 15px;
    font-size: 23px;
    display: none;
}

#logo {
    display: flex;
    gap: 20px;
}

#logo p {
    font-family: "Josefin Slab", Arial;
    margin-left: -20px;
    font-size: 30px;
    color: white;
}

#logoImg {
    margin-top: 18px;
    width: 50px;
    height: 50px;
}

#astra {
    display: flex;
    justify-content: center;
}

#astra p {
    font-family: "Josefin Slab", Arial;
    margin-left: -20px;
    font-size: 30px;
    color: white;
}

#astraImg {
    width: 50px;
    height: 50px;
}

#copyR  {
    margin-left: 5px;
    text-align: center;
    margin-bottom: -40px;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 60px;
    line-height: 50px;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: var(--cor1);
    z-index: 1000px;
}

#header p {
    padding: 20px;
}

#menu {
    align-items: center;
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    /*ISSO AQUI DA MERDA TIRA O DISPLAY BLOCK DAQUI E BOTA DENTRO DA MEDIA OUTRA COISA, ESSA MEDIDA REM TBM DA MERDA CUIDADO*/
    padding: 10px;
}

#btn-mobile {
    display: none;
}

                                        /*Media Querys*/

@media screen and (max-width: 910px) { /*SAKJDAJKJKDJKDAJKJKDJKDAJKJKDJKDAJKJKDJK*/
    #menu a {
        font-size: 17px;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 60px;
        right: 0px;
        background-image: var(--degrade);
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #menu::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-image: var(--degradeR);
    }
    #menu::-webkit-scrollbar-track {
        background-image: var(--degrade);
        box-shadow: none;
    }
    #menu::-webkit-scrollbar-thumb:hover {
        background-image: linear-gradient(to bottom, #f08870, #9710b3);
    }
    nav.active #menu{
        height: calc(100vh - 60px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        display: block; /*ISSO AQUI DA MERDA*/
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
        padding-left: 15px;
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer {
        color: white;
        border-top: 2px solid;
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburguer {
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

@media (max-width:910px) { 
    #cole {
        display: block;
        text-align: left;
    }
}

#logoImgResponsa {
    display: none;
}

@media (max-width:460px) { 
    #imgDestak {
        width: 200px;
    }
    #logoImg {
        margin: 0 5px auto auto;
    }
    #logoTxt {
        display: none;
    }
    #logoImgResponsa {
        display: block;
        height: 50px;
    }
    #logo  p {
        font-size: 20px;
        margin-left: 20px;
    }
} 