@charset"UTF-8";

#copyR  {
    text-align: center;
    margin-bottom: -40px;
}

#logoImgResponsa {
    display: none;
}

#wave {
    margin-top: -1px;
}

#h1Main {
   margin-top: 20px;
   color: white;
   font-family: "Ubuntu", Arial;
}

#header_background {
    background-color: #9404b1;
    height: 350px;
    
}

#tituloTDS {
    line-height: 31px;
    padding-right: 10px;
}

#cole {
    color: white;
    margin: 25px 0px 8px 15px;
    font-size: 23px;
    display: none;
}

#logo {
    display: flex;
}

#logo p {
    font-family: "Josefin Slab", Arial;
    margin-left: -20px;
    font-size: 30px;
    color: white;
}

#logoImg {
    margin-top: 15px;
    width: 50px;
    height: 50px;
}

#astra {
    display: flex;
    justify-content: center;
}

#astra p {
    font-family: "Josefin Slab", Arial;
    margin-left: -20px;
    font-size: 30px;
    color: white;
}

#astraImg {
    width: 50px;
    height: 50px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 900px;
    margin: 10px auto;
} 

.grid img {
    border-radius: 5px;
}

.grid > div:nth-child(n + 2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.downbar {
    gap: 20px;
    margin-top: 20px;
}

.texto {
    margin-top: 20px;
    max-width: 900px;
}