@charset"UTF-8";

#logoImgResponsa {
    display: none;
}

#wave {
    margin-top: -1px;
}

#h1Main {
   margin-top: 20px;
   color: white;
   font-family: "Ubuntu", Arial;
}

#header_background {
    background-color: var(--cor1);
    height: 350px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 700px;
    margin: 10px auto;
    padding: 10px;
} 

.grid img {
    border-radius: 10px;
}

.grid > div:nth-child(n + 2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.downbar {
    gap: 20px;
    margin-top: 20px;
}

.texto {
    margin: 20px auto auto auto;
    max-width: 900px;
    padding: 20px;

    text-indent: 30px;
    text-align: justify;
    line-height: 1.5em;
}