@media (max-width:710px) {
    .grid img {
        border-radius: 0px;
        width: 100%;
        height: 350px;
    }
    .grid {
        margin: 0px;
        padding: 0px;
    }
    .grid > div:nth-child(n + 2) {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
    }
    .downbar {
        margin: 0;
    }
    main {
        padding: 0;
        margin-top: 14px;
    }

    #Maincontainer {
        display: none;
    }
    #Maincontainer2 {
        display: block;
    }
    .container {
        flex-direction: column;
        height: auto;
    }
    .opts {
        max-width: 100%;
    }
}