@media (max-width:710px) {
    main {
        padding: 0;
        margin-top: 14px;
    }
    .container {
        flex-direction: column;
        height: auto;
    }
    .opts {
        max-width: 100%;
    }
    .molde {
        padding: 0;
    }
    .inv {
        display: flex;
        flex-direction: column-reverse;
    }
    .invinv {
        display: flex;
        flex-direction: column;
    }
}
