@charset"UTF-8";

#imgDestak {
    margin: 60px auto auto auto;
    padding-top: 20px;
    width: 250px;
}

/* ========== idsClasses ========== */

@media (max-width:710px) {
    #imgMain {
        width: 100%;
        height: auto;
    }
    .grid img {
        border-radius: 0px;
    }
    .grid {
        margin: 0px;
        padding: 0px;
    }
    .grid > div:nth-child(n + 2) {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
    }
    .downbar {
        margin: 0;
    }
    main {
        padding: 0;
        margin-top: 14px;
    }
}