@charset"UTF-8";

* {
    margin: 0;
    padding: 0;
}

nav {
    margin-right: 20px;
}

nav a:hover {
    background-image: linear-gradient(203deg, rgb(255, 0, 157), cyan);
    transition: 0.5s;
}

nav a {
    border-radius: 8px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 71px;
    padding: 15px 10px 10px 30px;
    justify-content: space-between;
    background-image: linear-gradient(7deg, rgb(255, 0, 157), cyan);
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    /*ISSO AQUI DA MERDA TIRA O DISPLAY BLOCK DAQUI E BOTA DENTRO DA MEDIA OUTRA COISA, ESSA MEDIDA REM TBM DA MERDA CUIDADO*/
    padding: 10px;
}

#btn-mobile {
    display: none;
}

@media (max-width: 900px) {
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: #003351;
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    nav.active #menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        display: block; /*ISSO AQUI DA MERDA*/
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer {
        border-top: 2px solid;
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburguer {
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

