@charset"UTF-8";

* {
    margin: 0;
    padding: 0;
}

nav a:hover {
    box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.411);
    transition: 0.5s;
}

nav a {
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 60px;
    line-height: 50px;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    background-color: #9404b1;
}

#menu {
    align-items: center;
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    /*ISSO AQUI DA MERDA TIRA O DISPLAY BLOCK DAQUI E BOTA DENTRO DA MEDIA OUTRA COISA, ESSA MEDIDA REM TBM DA MERDA CUIDADO*/
    padding: 10px;
}

#btn-mobile {
    display: none;
}

@media screen and (max-width: 916px) {
    #menu a {
        font-size: 17px;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 60px;
        right: 0px;
        background-image: linear-gradient(to bottom, #9404b1, #EC7357);
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    nav.active #menu{
        height: calc(100vh - 60px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        display: block; /*ISSO AQUI DA MERDA*/
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
        padding-left: 15px;
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer {
        color: white;
        border-top: 2px solid;
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburguer {
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

