@charset"UTF-8";

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: flex-end;
    justify-self: flex-start;
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
}