* {
    color: white;
}

body {
    background-color: #2222FF;
}

nav a:hover {
    color: white;
}

a {
    color: #8b42ff;
    transition: 0.5s;
}

a:hover {
    color: hsl(244, 100%, 63%);
}

#section1 {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.textoC {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    line-height: 30px;
}

.textoC p{
    text-indent: 30px;
    text-align: justify;
}

.WEB {
    padding: 20px;
    text-align: center;
}

.conteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
} 

.BE {
    justify-content: flex-end;

}

.conteudo iframe{
    border-radius: 50px 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.397);
    max-width: 400px;
} 

.svggg img {
    transform: rotateY(180deg);
}

.tecnologias {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 30px;
    padding: 20px;
    max-width: 500px;
    margin: auto;
}

.tecpics {
    display: flex;
    flex-direction: row; 
    gap: 30px;

}

#frontend {
    display: flex;
    flex-direction: column;
    background-color: hsl(11, 80%, 63%);
}

#thejs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#curlyy {
    margin-left: -45px;
}

#backend {
    display: flex;
    flex-direction: column;
    background-color: #68d9a1;
}

@media(max-width: 590px) {
    #section1 {
        flex-direction: column;
    }
    .conteudo {
        flex-direction: column;
    }
    .conteudo iframe{
        max-width: 300px;
    } 
    #curlyy {
        margin-left: -45px;
    }
}

@media(max-width: 410px) {
    .tecpics {
        flex-direction: column;
    }
}

@media(max-width: 430px) {
    #curlyy {
        margin-left: -25px;
    }
}